<div id="new-student-password">
  <p>🎉 Student <strong><%= student.username %></strong> created successfully.</p>
  <h2>The temporary password is: <strong><%= password %></strong></h2>
  <p><em>This password is shown only once. Please record or print this now.</em></p>
</div>