<p>🎉 Student <strong><%= student.username %></strong> created successfully.</p>
<p>The temporary password is: <strong><%= password %></strong></p>
<%= link_to "Back to Classroom", classroom_path(student.classroom), class: "devise-btn" %>

<p><em>This password is shown only once. Please record or print this now.</em></p>
