<h1><%= @topic.title %></h1>
<br><br><br><br>
<h2><%= @topic.intro %></h2>
<br><br><br><br>

<% if @topic.id == 1 %>
<% elsif @topic.id == 2 %>
<% elsif @topic.id == 3 %>
<% elsif @topic.id == 4 %>
<% elsif @topic.id == 5 %>
<% elsif @topic.id == 6 %>
<% elsif @topic.id == 7 %>
<% elsif @topic.id == 8 %>
<% elsif @topic.id == 9 %>
<% elsif @topic.id == 10 %>
<% elsif @topic.id == 11 %>
<% elsif @topic.id == 12 %>
<% elsif @topic.id == 13 %>
<% elsif @topic.id == 14 %>
<% elsif @topic.id == 15 %>
<% elsif @topic.id == 16 %>
<% elsif @topic.id == 17 %>
<% elsif @topic.id == 18 %>
<% elsif @topic.id == 19 %>
<% elsif @topic.id == 20 %>
<% elsif @topic.id == 21 %>
<% elsif @topic.id == 22 %>
<% elsif @topic.id == 23 %>
<% elsif @topic.id == 24 %>
<% elsif @topic.id == 25 %>
<% end %>