<h1><%= @topic.title %></h1>

<div class="devise-form">
  <div class="checkbox-label-wrapper form-table">
    <div class="checkbox-row">
      <input type="checkbox" id="use-timer" />
      <label for="use-timer">Use Timer</label>
    </div>

    <button class="devise-btn">Play</button>
  </div>
</div>

<div id="game-container" style="display: none;">
  <!-- This is where your topic-specific game will load -->
</div>
