<div class="navbar navbar-expand-sm navbar-light navbar-lewagon fixed-top">
  <%= link_to :root, class: "navbar-brand d-flex align-items-center" do %>
    <div id="logo" class="p-2">
      <%= image_tag("https://res.cloudinary.com/dm37aktki/image/upload/v1744731396/MentalMaths/Untitled_design_v7znkg.png") %>
    </div>
    <div class="px-3">
      <h1 class="mb-0" id="nav-title">MathSprint</h1>
      <p class="mb-0 head-tagline">Add, Subtract, Smile!</p>
    </div>
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
    <ul class="navbar-nav">
      <li class="nav-item m-2 fancy-link">
        <%= link_to "Topics", topics_path, class: "nav-link" %>
      </li>
      <li class="nav-item m-2 fancy-link">
        <%= link_to "Home", :root, class: "nav-link" %>
      </li>
    </ul>
  </div>
</div>
