<div class="navbar navbar-expand-sm navbar-light navbar-lewagon" style="display: table;">
  <%= link_to :root, class: "navbar-brand" do %>

    <div id="logo" class="p-2" style="display: table-cell;">
      <%= image_tag("https://res.cloudinary.com/dm37aktki/image/upload/v1651265304/Depositphotos_386432104_S_lbpstp.jpg") %>
    </div>
    <div class="head-title px-5" style="display: table-cell;">
      <h1 class="pt-2" id="nav-title">MathSprint</h1>
    </div>
    <div class="head-tagline" style="display: table-cell;">
      <p>Add, Subtract, Smile!</p>
    </div>

  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent" style="display: table-cell;">
    <ul class="navbar-nav mr-auto">
    </ul>
  </div>
</div>