<% content_for :title, "Server Error" %>
<h1>500</h1>
<img src="https://res.cloudinary.com/dm37aktki/image/upload/v1745253598/MentalMaths/Screenshot_2025-04-21_at_17.36.02_z8dbr4.png" alt="Server Down">
<p>Something went wrong on our end. We're working on it!</p>
<%= link_to "Try Again", root_path, class: "btn" %>
