<% content_for :title, "Page Not Found" %>
<h1>404</h1>
<img src="https://res.cloudinary.com/dm37aktki/image/upload/v1745229391/alex-jackman-_Bk2NVFx7q4-unsplash_kj7up7.jpg" alt="Lost in the Math Forest">
<p>Oops! We couldn’t find the page you were looking for.</p>
<%= link_to "Back to Home", root_path, class: "btn" %>