<% content_for :title, "Oops! Try Again" %>
<h1>422</h1>
<img src="https://res.cloudinary.com/dm37aktki/image/upload/v1745253609/MentalMaths/Screenshot_2025-04-21_at_17.39.05_kaqu1y.png" alt="Oops!">
<p>Sorry, we couldn’t process your request. Try again or go back.</p>
<%= link_to "Back to Home", root_path, class: "btn" %>
